.navbar-inverse{
    background: #bc3232;
    color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

/* body{
	padding-top: 70px;
} */





/* CSS Document */

footer p{
	font-size:medium;
}

footer div{
	text-align:center;
}
.jumbotron{text-align:center;
  
}

.bg-info{
  
}

.row {
	
}

@font-face {
    font-family: 'si';
    src: url('PATH_TO/socicon.eot');
    src: url('PATH_TO/socicon.eot?#iefix') format('embedded-opentype'),
         url('PATH_TO/socicon.woff') format('woff'),
         url('PATH_TO/socicon.ttf') format('truetype'),
         url('PATH_TO/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
	padding-bottom:5px;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-fb {
    background-color: #3e5b98;
}
.soc-fb:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-github {
    background-color: #5380c0;
}
.soc-github:before {
    content:'Q';
}
.soc-email2 {
    background-color: #578AD6;
}
.soc-email2:before {
    content:'.';
}
.soc-wordpress {
    background-color: #464646;
}
.soc-wordpress:before {
    content:'y';
}